{% extends 'App1/index.html' %}
{%  load static %}

{%  block content %}

<p> 
    Este es el proyecto final del curso de Python por parte de Coderhouse. <br>

    <br> Fue un curso muy completo y muy bueno, los maestros excelentes, con mucho conocimiento del tema y dispuestos a resolver cualquier duda respecto al curso. <br>

    <br> Este proyecto esta hecho por un servidor, Samuel Castillo Castañeda de forma individual. <br>

    <br> Soy un Ingeniero en Electronica y Automatizacion, graduado de la UANL (Universiadad Autonoma de Nuevo León) en la ciudad de Monterrey, México. <br>

    <br> Actualmente me encuentro laborando en el area de ventas industriales, vendemos sistemas de trazabilidad y raestrabilidad, equipos de vision artificial, lectores de codigos 1D y 2D, robots moviles, etc. <br>

    <br> Mi intencion es cambiar de giro en un futuro no muy lejano, mis areas de interes dentro de la programacion y el desarrollo son las siguientes: <br>

    <div>

            <li>Data Science</li>
            <li>Big Data</li> 
            <li>Machine Learning e Inteligencia Artificial</li> 
            <li>Desarrollo web y movil</li> 

    </div>



</p>
{% endblock %}
