{% extends 'App1/index.html' %}
{%  load static %}

{%  block content %}

<p> 
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur temporibus corrupti quasi cupiditate amet inventore doloremque voluptates praesentium, porro dignissimos tempora quod ut autem iusto sequi, vero repellendus quo atque. Accusantium provident dolorum necessitatibus debitis deleniti nam inventore tempore animi, eum assumenda dolore ab facilis corrupti. Iusto delectus earum, magni fugiat illum dolores quisquam harum mollitia, optio nesciunt dolorem incidunt corrupti rem animi laboriosam a cumque impedit officiis quibusdam voluptas autem maiores? Ipsa ex earum reiciendis, molestias dolore minima quae, beatae dicta corrupti fugiat facere. Tenetur officia dignissimos est sequi similique dolor commodi, modi distinctio vero ad neque, et odio?
</p>
{% endblock %}
