<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    

    <header id="titulo">

        <h1>Coderhouse Blog</h1>

        <div style="text-align: center;">

            <nav class="navbar">
                    
                <a style="padding: 0rem 3rem 0rem 0rem ;" href="{% url 'app1_inicio' %}">Home</a>
                <a style="padding: 0rem 3rem 0rem 0rem ;" href="{% url 'app1_about' %}">About</a>
                <a style="padding: 0rem 3rem 0rem 0rem ;" href="{% url 'app1_pages' %}">Pages</a>
    
                {% if request.user.is_authenticated %}
                <a style="padding: 0rem 3rem 0rem 0rem ;" href="{% url 'app2_logout' %}">Logout</a>
                <a style="padding: 0rem 3rem 0rem 0rem ;" href="{% url 'app2_editar_perfil' %}">Update Profile</a>
                {% else %}
                <a style="padding: 0rem 3rem 0rem 0rem ;" href="{% url 'app2_login' %}">Login</a>
                <a style="padding: 0rem 3rem 0rem 0rem ;" href="{% url 'app2_register' %}">Sign Up</a>
                {% endif %}
                
            </nav>

        </div>




    </header>

    {% block content %}

    <div style="text-align: center;">


        <h1>Bienvenidos a nuestro Blog!!</h1>
    
        <h2>Aquí podras encontrar temas de actualidad y artículos interesantes.</h2>



    </div>

    {%  endblock %}
  
    <footer>
        <section>
            <a href="#titulo">Ir al comienzo</a>
            <a href="mailto: scastillo.iea@gmail.com">scastillo.iea@gmail.com</a>
        </section>
        <p>Copyright 2022</p>
    </footer>
</body>
</html>